@import "/src/App.scss";
.Carousel-Container {
  
  z-index: 12;
  width: 100%;
  height: 100%;
  display: flex;
  border-top: .4rem dashed #ead4c3;
  border-bottom: .4rem dashed #ead4c3;
  border-left:.4rem dotted #ead4c3 ;
  border-right:.4rem dotted #ead4c3 ;
  border-radius: 3px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: visible;
  padding:0 2vw;
  background-color: transparent;
  .rope{
    width:5px;
    position: absolute;
    z-index: -1;
    top:-143px;
    &.isLeft{
      left:5%;
    }
    &.isRight{
      right:5%;
    }
  }
  .script-bf-box {
   
    display:none;
    
    transition: all .3s cubic-bezier(0,.7,.38,1.23);
    &:nth-child(odd){
     &.animated{
      animation: moveup 20s ease-in-out infinite;
     }

    }
    &:nth-child(even){
    &.animated{
      animation: movedown 20s ease-in-out infinite;

    }      
    }   
    
   
    width: 100%;
    will-change: transform;
    cursor: pointer;

   
    //border-radius: 2px;
    height: 85%;

    position: relative;
    display: inline-block;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;

    margin: .5vw;
    will-change: transform;
    @for $var from 1 through 10 {
      &:nth-child(#{$var}) .content-carousel{
         
          animation-delay: (60ms * $var) ;
        
      }
    }
    .content-carousel {
    //   border-bottom: 3vh solid white;
    // border-top: 1.5vh solid white;
    //   &:hover{
    //     border-bottom: 0 solid white;
    //     border-top: 0 solid white;
    //   }
      overflow: hidden;
      transition: all .4s;
      background-color: white;
    
      opacity: 0;
      -webkit-animation: slide-top 1000ms ease forwards ;
      animation: slide-top 1000ms ease forwards;
      width: 100%;
      height: 100%;
      padding: 0;
      margin: 0;
      z-index: 121234;
      will-change: inherit;
.bg-main{
  opacity: 0;
  animation: fade-in 1.4s forwards cubic-bezier(.51,1.05,.59,.99);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  display:flex;
  align-items: flex-end;
  .text-title {
 text-align: center;
  
    
    font-family: $font4;
    font-weight: lighter;
    line-height: inherit;
    white-space: nowrap;
    background-color: white;
    padding: 7px 14px;
    font-size: 2vw;
    @media screen and(min-width:1000px) {
      font-size: 1rem;
    }
    margin:0;
    width:100%;
  }


}
      will-change: transform;
      
    
      
     
    }

    
  

   
  }

  @media only screen and(orientation:portrait) {
    flex-direction: row;
    flex-wrap: nowrap;
    .script-bf-box {
      height: 80%;
      margin: 0;
      min-width: 70px;
      margin: 1px;
    }
  }
}






