//colors
$mainColor:rgb(253, 253, 218);

$card1: rgb(255, 251, 251);
$card2: rgb(252, 201, 106);
$color1:#ead4c3;

//background
// $bg1:rgb(223, 176, 58);
$bg1:gray;
$bgMain:linear-gradient(190deg,#a3c8ee,hsla(0,0%,100%,.8) 65%);



//font-family

$font1:'Roboto',sans-serif;
$introFont:'Dancing Script', cursive;
$font2:'Sansita Swashed', cursive;
$font3: 'Charmonman', cursive;
$font4:'Poppins', sans-serif;
//url

$time-func:cubic-bezier(0,.7,.38,1.23);
//with && height
$navHeight:6vh;
$mainHeight:100vh;
$mobileWidth:727px;
$carouselWidth:70vw;
$carouselWidthMobile:95vw;
$galery-res:1200px;