@import "/src/App.scss";

.SidePanel {
  z-index: 10;
  display: flex;
  align-items: center;
  padding-bottom: 30vh;
  @media screen and(max-width:$galery-res) {
    padding: 0;
  }
}
.CardContainer {
  position: relative;
  display: flex;
  justify-content: flex-end;
  --width:90%;
  width: var(--width);
  height: calc(var(--width) * 0.5);
  @media only screen and (max-width:$galery-res){
    
        display:none;
  }
    
}
.hide{
  position: absolute;
  transition: all .25s $time-func;
  color:white;
  padding:4px 9px;
  border:none;
  border-radius: 2px;
  background-color: transparent;
  left:1vw;
  top:1.7vw;
  @media only screen and (max-width:$galery-res){
    
    display:none;
}
}
.SidePanelContainer {
  width: 17vw;
  min-width: 130px;
  position: relative;
  overflow: hidden;
  transition: all 0.6s ease;
  height: 100%;
  will-change: width;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
