@import '../../Galery.scss';

.SidePanel{
    overflow: visible;
   z-index: 10;
     display:flex;flex-direction: column;
     justify-content: space-around;
     align-items: center;
     .Card-container{
         position: relative;
         width:90%;
         height:20vh;
        
       
        
       
     }
   
     @media only screen and (orientation:portrait){
         .Card-container{
             display:none;
         }
         
     }
}
@keyframes swinging1{
    0%{
        transform:rotate(2deg);

    }
    50%{
        transform:rotate(-2deg);

    }
    100%{
        transform:rotate(2deg);

    }
}
@keyframes swinging2{
    0%{
        transform:rotate(-2deg);

    }
    50%{
        transform:rotate(2deg);

    }
    100%{
        transform:rotate(-2deg);

    }
}















