@import '../../Galery.scss';

.SidePanel{
   
   z-index: 10;
    display:flex;
    align-items: center;
    .hide-side{
        position: absolute;
        transition: all .25s $time-func;
        color:white;
        padding:4px 9px;
        border:none;
        border-radius: 2px;
        background-color: transparent;
        left:1vw;
        top:1.7vw;
      
    }
     &-container{
        width:17vw;
        min-width: 160px;
        position: relative;
         overflow: hidden;
         transition: all .6s ease;
         height:100%;
         will-change: width;
        display:flex;flex-direction: column;
        justify-content: space-around;
        align-items: center;

     &.on{
         
         max-width: 300px;
     }
     &.off{
         max-width: 0;
         min-width: 0;
     }
     }

     .Card-container{
         position: relative;
         width:90%;
         height:20vh;
        
        
       
        
       
     }
   
     @media only screen and (orientation:portrait){
         .Card-container{
             display:none;
         }
         
     }
}
@keyframes swinging1{
    0%{
        transform:rotate(2deg);

    }
    50%{
        transform:rotate(-2deg);

    }
    100%{
        transform:rotate(2deg);

    }
}
@keyframes swinging2{
    0%{
        transform:rotate(-2deg);

    }
    50%{
        transform:rotate(2deg);

    }
    100%{
        transform:rotate(-2deg);

    }
}















