@import "/src/App.scss";
.black {
  color: white;
}
.white {
  color: black;
}
.portrait {
  display: block;
  backdrop-filter: blur(12px);
  border-radius: 4px;
  height: 10%;
  margin-bottom: 5px;
  color:white;
  h1 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.5rem;
  }
}
.blurWallpaper {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  transition: all 0.3s;
}
.bgBlack {
  background-color: black;
  background-image: none !important;
}
.bgImg {
  background-color: transparent;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  filter:blur(14px) grayscale(70%);
}

.videoPlayerContainer {
  min-height: 300px;
  border-radius: 0px;
  overflow: hidden;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  transition: all .5s ease;
  min-width: 300px;
  min-height: calc(300px * 0.5625);
}
.on {
  --width:80vw;
  --height:calc(((var(--width))) * 0.5625);
  width: var(--width);
  height: var(--height);
  border-radius: 0;
 
}
.off {
  
  --width:40vw;
  --height:calc(((var(--width))) * 0.5625);
  @media screen and(max-width:1200px) {
    --width:70vw;
  --height:calc(((var(--width))) * 0.5625);
  }
  width: var(--width);
  height: var(--height);

}

.VideoContainer {
  
  //border-top: 0.4rem dashed var(--color1);
  //border-bottom: 0.4rem dashed var(--color1);

  overflow: hidden;

  display: flex;
  position: relative;

  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  min-width: 300px;

  
  h1 {
    font-size: 2rem;
    text-align: center;
    z-index: 12312;
    font-family: $introFont;
  }
  h3 {
    font-size: 1.8rem;
    font-family: $introFont;
    cursor: pointer;
    user-select: none;
    border-radius: 2px;
    text-align: center;
  }
}
.caption {
  backdrop-filter: blur(15px);
  border-radius: 4px;
  color:white;
  padding:12px;
  font-family: $introFont;

  font-size: 1.6rem;
  p {
    max-width: 768px;
    margin: 0 auto;
  }
}

.buttonToggle {
  position: absolute;
  top: 5%;
  left: 5%;
  z-index: 12312123;
  border: none;
  background-color: transparent;
  color: white;
  img {
    transition: all 0.7s $time-func;
    &:hover {
      transform: rotate(720deg) scale(1.2);
    }
  }
}
