@import "../../App.scss";
.Video-Container {
  
  border-top:.4rem dashed #ead4c3;
  border-bottom:.4rem dashed #ead4c3;
 
  // padding: 2vw;

  overflow: hidden;
  
  display: flex;
  position: relative;
  
  flex-direction: column-reverse;
  justify-content: flex-end;
  width: 100%;
 min-height:100vh;
  min-width: 300px;

 
 
 
  
  .caption {
   

    font-family: $introFont;

    font-size: 1.6rem;
    p {
      max-width: 768px;
      margin: 0 auto;
    }
  }
  padding: 4rem 8vw;
 
  h1 {
    font-size: 2rem;
    text-align: center;
    z-index: 12312;
    font-family: $introFont;
  }
  h3 {
    font-size: 1.8rem;
    font-family: $introFont;
    cursor: pointer;
    user-select: none;
    border-radius: 2px;
    text-align: center;
  }
}



