@import "../../App.scss";
#header {
  position: fixed;
  width: 100%;
  z-index: 1239812379127391283;
  padding-top:2rem;

  .sound-cloud-container{
    position: fixed;
    right:3vw;
    bottom:3vw;
    button{
      transition: all .3s ;
      opacity: .4;
      &:hover{
        opacity: 1;
      }
      position: absolute;
      border: none;
      background-color: transparent;
      right:0;
      bottom:0;
    }
    .sc{
      &.show{
        display:none;
      }
    }
  }
  &.hasBg{
    opacity: 1;
    background: linear-gradient(190deg,#a3c8ee,hsla(0,0%,100%,0) 65%);

  }
  &.noBg{
    opacity: 1;
    background: linear-gradient(190deg,#a3c8ee,hsla(0,0%,100%,0) 65%);
  }
  padding-bottom: 2rem;
  transition: all .6s;
  z-index: 212124;
  color:black;
  font-size: 1.4rem; 
  .main-header{
  display:flex;
  justify-content: space-between;
  align-items: center;

  .btn-toggle{
    width:9rem;
    padding:4px 2rem;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1) ;
    border-radius:25px;
    margin-right: 2rem;
    font-family: $font2;
    border:none;
    transition: all .2s;
    color:rgba(231, 46, 46, 0.61);
    background-color: rgba(203, 209, 218, 0.6);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    &.show{
      color:gray;
      transition: all .2s;

      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    }
  }
}
.dropdown{
  
  animation: slide-top .2s $time-func forwards;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  top:0; right:15rem;
  padding-top: .5rem;
  margin-top: 2rem;
  .link-container{
    *{
      display:inline-block;
    }
  }
  li{
    margin-right: 2rem;
    display: inline-block;
    cursor: pointer;

    color:white;
    padding:2px 2rem;
    border-radius: 20px;
    font-weight: 500;
    font-family: $font2;
    box-shadow: 0px 5px 10px transparent;
    transition: all .2s;

    &:hover{
      -webkit-box-shadow: 0px 5px 10px rgba(50, 50, 50, 1);
-moz-box-shadow: 0px 5px 10px rgba(50, 50, 50, 1);
box-shadow: 0px 5px 10px rgba(50, 50, 50, 1);
    }
  }
  li.sound-cloud{
    background-color: orange;
    padding: 5px 2rem;
    border-radius: 30px;
    color:white;
    
  }
  &.hide{
    display: none;  
    }
  @media screen and(max-width:860px) {
    
    position: relative;
    justify-content:center;
    flex-direction: column;
    width:100%;
    margin-top: 1rem;

    top:unset;
    right:unset;
    li{
      margin:.6rem 1rem;
    }
    
    
  }
}
}

