@import "../../App.scss";
#header {
  position: fixed;
  width: 100%;
  z-index: 1239812379127391283;
  padding-top: 2rem;
  background-color: #ead4c3e1;
  .sound-cloud-container {
    position: fixed;
    right: 3vw;
    bottom: 3vw;
    button {
      transition: all 0.3s;
      opacity: 0.4;
      &:hover {
        opacity: 1;
      }
      position: absolute;
      border: none;
      background-color: transparent;
      right: 0;
      bottom: 0;
    }
    .sc {
      &.show {
        display: none;
      }
    }
  }
  &.hasBg {
    opacity: 1;
  
   
  }
  &.noBg {
    display: none;
    
  }
  padding-bottom: 2rem;
  transition: all 0.6s;
  z-index: 212124;
  color: white;
  font-size: 1.4rem;
  .main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    #brand-logo{
      border-radius: 4px;
      position: relative;
      padding:5px;
      display: flex;
      align-items: center;
      img{
        transition: inherit;
      }
      
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -5px,
      rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
      transition: all .2s;
      &:hover{
        img{
          
          transform: scale(1.09);
        }
        background-color: rgba(245, 245, 245, 0.397);
        box-shadow: rgba(0, 0, 0, 0.3) 0px 14px 16px -5px,
      rgba(0, 0, 0, 0.14) 0px 15px 15px -5px;
      p
      {
        transition: all .2s $time-func;

        opacity: 1;
        transform: translateX(30%) scale(1);
      }
      }
    }
    
  }
  .dropdown {
    position: absolute;
    display: flex;
    justify-content: center;
    transition: none;

    align-items: center;
    text-align: center;
    top: 0;
    right: 15rem;
    padding-top: 0.5rem;
    margin-top: 2rem;
    .link-container {
      * {
        display: inline-block;
      }
    }
    li {
      user-select: none;
      margin-right: 2rem;
      display: inline-block;
      cursor: pointer;
      
      color: rgb(54, 54, 52);
      padding: 6px 2.4rem;
      font-weight: 300;
      font-family: $font1;

      border-radius: 4px;
      background-color: none;
      &:hover {
        background-color: rgba(255, 255, 255, 0.137);
        box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
          rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
      }
    }
    max-height: 500px;
    &.hide {
      overflow: hidden;
      max-height: 0;
      margin:0;
      padding:0;
      transition: none;
        opacity: 0;
    }
    @media screen and(max-width:1200px) {
      position: relative;
      transition: all 0.4s;

      justify-content: center;
      flex-direction: column;
      width: 100%;
      margin-top: 1rem;

      top: unset;
      right: unset;
      li {
        margin: 0.6rem 1rem;
      }
    }
  }
}

.btn-toggle {
  width: 9rem;
  position: fixed;
  z-index: 123123123;
  padding: 4px 1rem;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-right: 2rem;
  font-family: $font1;
  border: none;
  right:0;
  top:2.9rem;
  font-weight: 300;
  transition: all 0.2s;
  color: rgb(46, 46, 46);

  background-color: rgba(255, 255, 255, 0.137);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  &.show {
    color: rgb(133, 116, 116);

    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -5px,
      rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  }
}