@import "../../../../App.scss";
.TopPanel-Container {
  overflow: hidden;

  display:block;
  height:80px;
  display:flex;
  justify-content: flex-start;
  align-items: center;
  @media only screen and (orientation: landscape) {
    display: none;
  }
  &-bg{
      width:30%;
      height:100%;
      background-position: center top;
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 3px;
      box-shadow: rgba(0, 0, 0, 0.54) 0px 3px 8px;
  }
  &-text{
      .text-upper{
          font-family: $font2;
      }
      .text-lower{
        font-family: $introFont;
        font-size: 5vw;
        white-space: nowrap;
        span{
            font-size: 4vw;
        }
        
      }
  }
  
}
