@import "../../../../App.scss";
.TopPanel-Container {
 
  
  background-image: linear-gradient(
    to right,
    rgba(176, 216, 243, 0.7),
    transparent
  );
  display:block;
  height:30%;
  max-height: 130px;
  display:flex;
  justify-content: flex-start;
  align-items: center;
  @media only screen and (orientation: landscape) {
    display: none;
  }
  .button-nav{
    -webkit-animation: slide-top 1000ms ease forwards ;
    animation: slide-top 1000ms ease forwards;
    display: inline-block;
  }
  .preload-bg{
    width:0;
    height:0;
    opacity: 0;
    overflow: hidden;
  }
  &-bg{
    -webkit-animation: slide-top 1000ms ease forwards ;
    animation: slide-top 1000ms ease forwards;
      width:30%;
      height:90%;
      background-position: center top;
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 3px;
      box-shadow: rgba(0, 0, 0, 0.54) 0px 3px 8px;
  }
  &-text{
    animation:  slideRight .3s forwards cubic-bezier(0, 0.7, 0.38, 1.23);
      .text-upper{
          font-family: $font2;
      }
      .text-lower{
        font-family: $introFont;
        font-size: 1.7rem;
        white-space: nowrap;
        span{
            font-size: 1.2rem;
        }
        
      }
  }
  
}
