
@import '../../App.scss';
.Ending{
   position: relative;
    min-height:400px;
    height:20vh;

 
   
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    h2{
        color:rgba(0, 0, 0, 0.658);
        font-size: 3rem;
       

      
    }
    h2,h5{
        font-family:  $introFont;

    }
    
  
}

*::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  * {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }