@import "../../App.scss";
.Ending {
  position: relative;
  min-height: 550px;
  height: 20vh;
color:white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h2 {
    color: white;
    font-size: 3rem;
  }
  h2,
  h5 {
    font-family: $introFont;
  }
  h6{
    font-family: $font2;
  }
}

