
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
.container{
   
    border-top:.4rem dotted #ead4c3;
    border-bottom:.4rem dotted #ead4c3;
  width:100%;
 
    min-height:700px;
    background-size: cover;
    background-position:left;
}
.paragraph{
    max-width:900px;
    padding: 3rem 5vw;
    margin:0 auto;
    text-align: center;
    
}
.group{
    height:300px;
    font-family: 'Comfortaa', cursive;
    text-align: left;
    font-size: 1.3rem;
    font-weight: 300;
   
   img{
       width:100%;
       height:auto;
       display:inline-block;
       border-radius: 4px;
       box-shadow:      4px 4px 4px rgba(128, 128, 128, 0.548);
   }
}
.title{
    
}