@import "./helpers/animations";
@import "./helpers/placeholders";
@import "./helpers/variables";
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Great+Vibes&family=Homemade+Apple&display=swap');
/*
# CSS Preset
## version 1.0.0
A simple CSS preset to enable box-sizing, set some text rendering options to decrease the differences between browsers, and set a couple of nice defaults.
## Usage
    <link href=preset.css rel=stylesheet>
## Info
- author: Tommy Hodgins
- license: MIT
- website: https://github.com/tomhodgins/preset
*/




.App{
  .container{
    margin:0;padding:0;
    width:100vw;
    margin-top: 40px;
  }
}