@import "./helpers/animations";
@import "./helpers/placeholders";
@import "./helpers/variables";
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Great+Vibes&family=Homemade+Apple&display=swap');
/*
# CSS Preset
## version 1.0.0
A simple CSS preset to enable box-sizing, set some text rendering options to decrease the differences between browsers, and set a couple of nice defaults.
## Usage
    <link href=preset.css rel=stylesheet>
## Info
- author: Tommy Hodgins
- license: MIT
- website: https://github.com/tomhodgins/preset
*/

* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: auto;
  list-style-type: none;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
 
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto,
    segoe ui, arial, sans-serif;
 
}

*{
  margin: 0;
  padding:0;

  &:focus {
    outline: 0 !important;
}
}
.App{
  .container{
    margin:0;padding:0;
    width:100vw;
    margin-top: 40px;
  }
}