@import "/src/App.scss";
.card {
  position: relative;
  height: 100%;
  width: 100%;
  
  transform-style: preserve-3d;
  perspective: 600px;
  
}
.front,
.back {
  border-radius: 5px;

will-change: transform;
  transition: all 0.4s $time-func;
  background-position: 50% 50%;
  background-size: cover;
  background-position: center top;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;

  position: absolute;
}

.front {
  transform: rotateY(0deg);
  opacity: 1;
}

.back {
  backface-visibility: hidden;
  transform: rotateY(180deg);
}
.flip {
  .front {
    transform: rotateY(-180deg);
  }

  .back {
    transform: rotateY(0deg);
  }
}
