@import "/src/App.scss";
.bg {
  height: 100%;
  z-index: 1;
  user-select: none;
  //touch-action: none;
  display: block;
  //filter: blur(2px);
  top: 0;
  overflow: visible;
  position: absolute;
  
  animation: test linear forwards infinite;

  min-width: 100%;
}
.itemBg {
  border-right: 0.4rem dashed var(--color1);
  background-size: cover;
  background-position: center center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
}

.textTitle{
  position: absolute;
  bottom:0;
  left:0;
  padding:0;
  margin:0;
  font-family: $introFont;
  background: linear-gradient(to right ,rgba(255, 255, 255, 0.632) ,transparent);
  padding: 14px 19px;
  backdrop-filter: blur(4px);
  width:100%;
}
@keyframes appear {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}
@keyframes test {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
