@import "src/App.scss";

.infor {
  font-family: $introFont;
  flex-direction: row;
  background: linear-gradient(190deg,#ebf4fd,hsla(0,0%,100%,0) 45%);
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  height: 100%;
  @media only screen and(min-width:1000px) {
    padding-left: 10% !important;
  }
  .nav {
    border-radius: 2px;
    display: inline-block;
    padding: 0 1.5vw;
   min-width: 5vw;
   margin-right: 1vw;
   min-height: 3vw;
   font-family: $font1;
   cursor: pointer;
  h3  {
    font-weight: 200;

      font-size: 2.3vw;
      @media screen  and (max-width:1000px){
        font-size: 1.3em;
      }
    }
   
    
  }
  .navContainer{
    position: absolute;
    bottom:12vh;
    left:0; 
    display:flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin:0 auto;
    width:100%;
  }
}
.imgContainer {
  height:90%;

  -webkit-animation: test 0.5s cubic-bezier(0,.7,.38,1.23);
	        animation: test 0.5s cubic-bezier(0,.7,.38,1.23);
  width: 100%;
  position: relative;
  max-width: 450px;
  border-radius: 6px;

  background-position: center top;
  background-size: cover;
  button {
    position: absolute;
    font-family: $font1;
    left: 0px;
    bottom: -10vh;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 3px;
    padding: 5px 15px;
    transition: all .2s;
    font-size: 1rem;
   
  
  }
}
.information {
  text-align: left;
  overflow: hidden;
  padding-left: 3vw;
  padding-right: 5px;
  position: relative;
  h2 {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    width: 100%;
    font-size: 2vw;
    animation: slideRight 0.3s forwards cubic-bezier(0,.7,.38,1.23);
  -webkit-animation: slideRight 0.3s forwards cubic-bezier(0,.7,.38,1.23);
    @media only screen and(max-width:1000px) {
      font-size: 5vw;
    }
  }
 
  @media only screen and(min-width:1000px) {
    padding-left: 5% !important;
  
  }
}

@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(-5%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}


@keyframes test {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}
